@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
$primary-color: #f1f5f9;
$font-stack: 'Unbounded', cursive, sans-serif;

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  // background-color: rgb(37, 77, 165);
  background-image: linear-gradient(
      to right,
      rgba(black, 0.4),
      rgba(black, 0.4)
    ),
    url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //color: $color-text;
  color: $primary-color;
  font-family: $font-stack;

  @media (max-width: 700px) {
    height: auto;
  }

}

.main-container {
  display: grid;
  grid-template-rows: 1.5fr 1fr;

  height: 100vh;

  
}

.upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.search-section {
  display:flex;
  align-items: center;
  justify-content: center;
  //border-bottom: 2px solid $primary-color;
  gap: 5px;
}

#search {
  appearance: none;
  border: none;
  border-radius: 8px;
  color: $primary-color;
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.466);

  &:focus {
    outline: none;
    background-color: rgba(209, 209, 209, 0.466);
  }

  &:hover {
    background-color: rgba(209, 209, 209, 0.466);
  }

  &::placeholder {
    color: $primary-color;
  }
}

#searchIcon {
  cursor: pointer;
}

#cityName {
  font-size: 4rem;
  font-family: $font-stack;
}

.temp-display {
  display: flex;
  font-size: 2.5rem;
  font-family: $font-stack;
  font-weight: 1000;

  span {
    font-weight: 700;
  }
}

.lower-container {
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

  @media(max-width: 1350px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    justify-items: center;
  }

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
 
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  gap: 30px;

  .info-text {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
}
